@model Domain.Entity.space

@{
    ViewBag.Title = "Index";
 Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Payment</h2>


@Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal")